@use '../../../media';

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__button {
    align-self: flex-end;
    min-width: 269px;

    @include media.mobile-s {
      width: 100%;
    }

    @include media.mobile-above-s {
      align-self: center;
    }

    @include media.mobile-above {
      align-self: flex-end;
    }
  }
}
